nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-wrapper {
  width: 100%;
  height: 100%;
  background: var(--bg-contrast);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-bottom: 240px;
}

.recipe-card {
  position: relative;
  border: 2px solid var(--border);
  width: 250px;
  height: 420px;
  background: var(--bg-contrast);
  border-radius: 12px;
  padding: 12px 8px;
}

.recipe-card .img-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.recipe-card .text-wrapper {
  margin-top: 14px;
}

.recipe-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.recipe-category,
.recipe-area {
  font-size: 0.9rem;
}

.recipe-card .fav-button,
.recipe-card .recipe-button {
  position: absolute;
  bottom: 10px;
  background: transparent;
  border: none;
  color: var(--color-fav);
}

.recipe-card .fav-button {
  left: 10px;
}

.recipe-card .recipe-button {
  right: 10px;
  color: var(--color-text);
}

.control-panel {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 240px;
  background: var(--bg);
}

.recipe-category-stats {
  column-count: 2;
  width: 50%;
}

.recipe-category-stats h3 {
  column-span: all;
}

.controls {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.theme-switcher {
  margin-right: 16px;
}

.sort-switcher {
  margin-left: 16px;
}

#menu {
  display: none;
}

.view-switcher {
  margin-right: 24px;
}

.view-btn:nth-of-type(2):not(:disabled) {
  color: var(--color-fav);
}

button i {
  font-size: 35px;
}